.card {
    transition: transform 0.2s ease-in-out;
}
.card:hover {
    transform: scale(1.05);
}

.swiper-button-next::after,
.swiper-button-prev::after {
    color: #000;
}

body.bg-dark .swiper-button-next::after,
body.bg-dark .swiper-button-prev::after {
    color: #fff; 
}

.card-shadow-light {
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1);
    transition: box-shadow 0.3s ease;
}